:root {
  --variable-index: calc(attr(data-indexInfo) / 5) {

  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background-image:url('./whirlpool.png'), linear-gradient(90deg, rgba(254, 198, 23, 0.2), rgba(104, 198, 232, 0.2) ) ;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  font-family: 'Mansalva','Noto Sans JP', sans-serif;
  overflow: hidden;
}



ul {
  list-style: none;
}

.clickable {
  cursor:pointer;
}

nav ul li {
  display: inline-block;
  padding: 6px;
  font-size: 1.3rem;
  margin: 6px;
  float: right;
}

.logo {
  padding: 6px;
  margin: 6px;
  font-size: 1.3rem;
  float:left;
  display: inline-block;
}

.nav-div {
  height: auto;
  overflow: auto;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 3px 5px 3px rgba(0,0,0,0.2);
  backdrop-filter: blur(2px);
}

main {
margin: auto;
background-color: #fff;
background-color: rgba(255,255,255,0.6);
height: auto;
max-width: 1200px;
}

.main-column {
 display: grid;
 min-height: 310px;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 justify-content: space-evenly;
}

.book-tab {
  text-align: center;
  height: auto;
  margin: 15px 5px 38px;
  padding: 3px;
  position: relative;
  background-color: rgba(50,200,50,0.3);
}

.book-tab-inside{
  position: relative;
  width: 100%;
  height: 375px;
  background-color: #C3B596;
}

img {
  width: 100%;
  height: 301px;
  object-fit: cover;
}

img:hover {
  box-shadow: 0 3px 5px rgba(0,0,0,0.4) inset;
}

.book-tab-info {
  height: 40px;
  width: 100%;
}

.book-tab-info p {
  margin: 0;
  font-size: 0.75rem;
  padding: 3px;
}

@media screen and (max-width: 970px) {
  .main-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 830px) {
  .main-column {
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    object-fit: scale-down;
  }
}

@media screen and (max-width: 560px) {
  .main-column {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .main-column {
    grid-template-columns: 1fr;
  }
}

/* MODAL */
.modal {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  display: none;
  animation: modalAppear 0.7s forwards;
}

.modal-content {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%,0);
  width: 400px;
  height: 600px;
  background-color: rgba(170,77,0,0.9);
  border-radius: 4px;
  animation: modalContentAppear 0.7s forwards;
}

@keyframes modalAppear {
  from {backdrop-filter: blur(0);}
  to {backdrop-filter: blur(2px);}
}

@keyframes modalContentAppear {
  from {transform: translate(-50%,0) scale(0);}
  to {transform: translate(-50%,0) scale(1);}
}

form {
  text-align: center;
}

form * {
  padding: 3px;
  margin: 5px;
  color: pink;
}

form label {
  display: block;
}

form input {
  width: 90%;
  height:1.7rem;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid grey;
  line-height: 1.5rem;
  margin: auto;
}

form input:focus {
  outline:none;
}

form button {
  margin: 18px;
  padding: 5px 15px;
  color: black;
  border: 0;
  background-color: orange;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  right: 0;
  padding: 12px;
  margin: 4px;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  top: 0;
  transition: all 0.2s;
}

.close-modal:hover {
  color: white;
  background-color: rgba(255,255,255,0.3);
  border-radius: 100%;
}

.icon, .delete-button {
  position: absolute;
  top:100%;
  left:-2px;
  width: 70px;
  padding: 6px;
  border-radius: 0 0 10px 10px;
  font-size:1.4rem;
  line-height: 1.4rem;
  background-color: #C3B596;
  border: 2px solid #Cfff9f;
  border-top: 1px solid grey;
  color: black;
}

.delete-button {
  left: calc(100% - 68px);
  transition: all 0.4s;
}

.delete-button:hover .fa-trash-alt {
  transform: scale(1.1);
  color: darkred;
}

/* BOOK INFO */
.book-info {
  z-index: 3;
  position: absolute;
  left: calc(100% + 8px);
  top: 0;
  width: 250px;
  min-height: 300px;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 252, 253,0.7);
  border: solid 2px black;
  display: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  animation: bookInfo 0.15s forwards ease-in;
}

@keyframes bookInfo {
  from {opacity: 0; filter:blur(3px)}
  to {opacity:1; filter:blur(0)}
}

.book-info-inside {
  overflow: hidden;
}

.book-info::after {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 4;
  right: 100%;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

.book-tab:hover .book-info {
  display: block;
}

.book-tab:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.line {
  height: 3px;
  margin:1px auto;
  display: inline-block;
  width: 50px;
  background-color: red;
  opacity: 0;
  animation: lineWidth 1.7s ease-out forwards;
}

@keyframes lineWidth {
  from {width:5px}
  to {width:90%; opacity:1}
}

.book-info p {
  text-align: left;
  font-size: 0.8rem;
  margin: 2px 7px;
  position: relative;
  animation: bookInfoP 1s forwards;
}

.book-info p[data-infoIndex='1'] {
  animation: bookInfoP 0.8s forwards;
}
.book-info p[data-infoIndex='2'] {
  animation: bookInfoP 0.9s forwards;
}
.book-info p[data-infoIndex='3'] {
  animation: bookInfoP 1s forwards;
}
.book-info p[data-infoIndex='4'] {
  animation: bookInfoP 1.1s forwards;
}
.book-info p[data-infoIndex='5'] {
  word-break: break-all;
  animation: bookInfoP 1.3s forwards;
}

.book-info p[data-infoIndex= --variable-index] {
  color: red;
}

@keyframes bookInfoP {
  from {left: -100%;}
  to {left:0}
}

.rating {
  text-align: center !important;
  font-size: 1.3rem !important;
  font-weight: 900;
}

.footer {
  font-size: 0.7rem;
  color: orange;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: black;
}

.book-icon-from, .book-icon-to {
  transition: all 0.4s;
}
/* BOOK ICONS TRANSITION */
.icon:hover .book-icon-from {
  transform: translate(-50%, -50%) rotate(360deg);
  opacity: 0;
}

.book-icon-to {
  opacity:0;
}

.icon:hover .book-icon-to {
  transform: translate(-50%, -50%) rotate(360deg);
  opacity: 1;
}

.book-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left:50%;
  top:50%;
  animation: bookIcon 0.4s forwards;
}

@keyframes bookIcon {
  from {transform: translate(-50%, -50%) rotate(0)}
  to {transform: translate(-50%, -50%) rotate(360deg)}
}

.fa-bookmark {
  opacity: 0;
}
